@media (min-width: 600px) {
    body {
        background-color: rgb(237, 241, 241);
    }
}

body {
    margin: 0;
}

.header_container{
    display: flex;
    position: relative;
    background-image: url("../assets/court.jpg");
    background-size: 100% 100%;
    text-align: center;
    /* justify-content: center; */
    font-size: 28px;
    height: 300px;
    margin-top: 0;
    margin-bottom: 10px;
    /* border: 2px red solid; */
}

.logo {
    position: absolute;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.2);
}

.logo img {
    margin-top: 5px;
    margin-left: 5px;
    height: 50px;
    width: 75px;
    border-radius: 10px;
}

.nav-bar {
    position: absolute;
    display: flex;
    /* align-items: end; */
    /* top: 250px; */
    gap: 20px;
    margin-left: 0px;
    margin-right: 0px;
    bottom: 5px;
    width: 100%;
    /* border: 2px green solid; */
    /* height: 50px; */
}

.nav-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #FF6F61;
    color: white;
    border-radius: 10px;
    font-size: 22px;
    margin: 2px;
    height: 40px;
    width: auto;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.6s;
    transition: transform 1.0s ease;
    /* border: 5px blue solid; */
}

.nav-link:hover {
    background-color: #F7CAC9;
    transform: scale(1.1);
}

.page_title {
    display: flex;
    /* position: relative; */
    margin-top: 80px;
    margin-left: 25%;
    height: 100px;
    /* height: 15vh; */
    justify-content: center;
    align-items: center;
    width: 50vw;
    line-height: 50px;
    /* height: 275px; */
    color: white;
    /* border: 2px red solid; */
}



.contact_container {
    position: absolute;
    display: flex;
    gap: 20px;
    margin-top: 5px;
    right: 5px;
    /* border: 2px blue solid; */
    justify-content: right;
    flex-wrap: wrap;
}

.contact_element {
    display: flex;
    height: 50px;
    width: auto;
    transition: transform 0.3s ease;
    text-decoration: none;
    color: white;
}

.contact_element:hover {
    transform: scale(1.2);
}

.thesis_iframe_container {
    width: 100%;
}

iframe {
    width: 98vw;
    height: 98vh;
    display: block;
}

iframe:focus {
    outline: none;
}
  
iframe[seamless] {
    display: block;
}

.thesis_mobile {
    display: none;
}

.thesis_description {
    display: none;
}

footer {
    display: none;
}

/* ************************************************************************ */
/* *********************************MOBILE********************************* */
/* ************************************************************************ */

@media screen and (max-width: 480px) {
    body {
        /* background-color: rgb(237, 241, 241); */
        background-color: rgb(209, 209, 209);
    } 

    .header_container{
        position: relative;
        background-image: url("../assets/court.jpg");
        background-size: cover;
        text-align: center;
        font-size: 28px;
        height: 400px;
        margin-top: 0;
    }

    .contact_container {
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
        top: 10px;
    }

    .contact_element {
        font-size: 18px;
        font-weight: bold;
    }

    .contact_element:hover {
        transform: scale(1);
    }

    .contact_element img {
        height: 40px;
        width: 40px;
        gap: 10px;
    }

    .icons {
        display: flex;
        gap: 20px;
        right: 5px;
    }

    .nav-bar {
        align-items: center;
        /* top: 330px; */
        display: flex;
        justify-content: center;
    }

    .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: #F5DF4D; */
        border: #FF6F61;
        color: white;
        border-radius: 10px;
        font-size: 22px;
        margin: 2px;
        height: 40px;
        width: auto;
        padding: 5px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.6s;
    }

    /* .page_title {
        /* border: 1px blue solid; */
        /* width: 65%; */
        /* height: 350px; */
        /* margin-top: 55px; */
        /* line-height: 35px;
        width: 60%;
        line-height: 40px;
        bottom: 0px; */
    /* } */
    .page_title {
        /* display: flex; */
        /* position: relative; */
        margin-top: 150px;
        margin-left: 25%;
        height: 100px;
        justify-content: center;
        align-items: center;
        width: 50%;
        overflow: hidden;
        line-height: 50px;
        /* height: 275px; */
        color: white;
        font-weight: bold;
        /* border: 4px black solid; */
}

    .header_container h1{
        font-size: 32px;
        top: 100px;
    }

    .header_container h2{
        display: none;
        /* position: relative;
        top: 120px;
        border: 1px white solid;
        height: 50px;
        font-size: 24px; */
    }

    #contact p{
        font-size: 20px;
    }

    .thesis_description h1 {
        font-size: 24px;
        color: black;
    }

    .thesis_iframe_container {
        display: none;
    }

    .thesis_mobile {
        display: flex;
        /* display: block; */
        /* box-sizing: border-box; */
        padding: 0px;
        width: 100vw;
    }

    .thesis_mobile a {
        text-decoration: none;
        font-weight: bold;
        font-size: 28px;
        color: rgb(0,133,102);
        border-radius: 20px;
        text-align: center;
        margin: auto;
        width: 50vw;
        margin-top: 5px;
        padding: 20px;
        background-color: #f5d1d1;
        transition: background-color 0.1s;
    }

    .thesis_mobile a:hover {
        background-color: #F7CAC9;
    }

    .thesis_description {
        display: flex;
        font-size: 20px;
        text-align: center;
        margin: 5px;
        /* border: 2px red solid; */
    }

    footer {
        display: flex;
        background-color: rgb(0, 133, 102);
        color: white;
        font-size: 16px;
        text-align: center;
        justify-content: center;
        height: 50px;
        line-height: 50px;
    }
}