@media (min-width: 600px) {
    body {
        background-color: rgb(237, 241, 241);
    }

    .thesis_warning_mobile {
        visibility: hidden;
    }
}

body {
    margin: 0;
}


.logo {
    position: absolute;
    border: 1px black solid;
    height: 2px;
    width: auto;
}

.logo img {
    height: 60px;
    width: 60px;
}

.container{
    width: 60%;
    margin: auto;
    overflow: hidden;
    line-height: 40px;
    height: 275px;
    /* border: 1px black solid; */
}

.header_container{
    background-image: url("../assets/court.jpg");
    /* background-color: rgb(57,122,191); */
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 28px;
    height: 300px;
    /* border: 1px black solid; */
}

.header_container h1{
    position: relative;
    /* align-self: center; */
    text-align: center;
    top: 60px;
    line-height: 1.2;
    /* border: 1px black solid; */
}

.header_container h2{
    position: relative;
    top: 30px;
    /* border: 1px black solid; */
    bottom: 2px;
    font-size: 24px;
}

#contact {
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: right;
    /* margin-top: 0; */
    /* border: 1px black solid; */
    width: 300px;
    height: 150px;
}

#contact p {
    margin-top: 10px;
    line-height: 8px;
    font-size: 24px;
    padding: 0;
}

#contact a {
    /* color:yellow; */
    color: white;
}

iframe {
    width: 98vw;
    height: 100vh;
    display: block;
}

iframe:focus {
    outline: none;
}
  
iframe[seamless] {
    display: block;
}

/* ************************************************************************ */
/* *********************************MOBILE********************************* */
/* ************************************************************************ */

@media screen and (max-width: 480px) {
    body {
        background-color: rgb(237, 241, 241);
    } 

    .header_container{
        max-width: 100vw;
        /* border: 1px red solid; */
    }

    .container{
        /* border: 1px white solid; */
        height: 250px;
        line-height: 35px;
        width: 60%;
        /* margin: auto; */
        line-height: 40px;
    }

    .container h1{
        font-size: 28px;
    }

    .container h2{
        position: relative;
        top: 50px;
        /* border: 1px white solid; */
        height: 50px;
        font-size: 20px;
    }

    #contact{
        /* border: 1px white solid; */
        width: 200px;
        height: 100px;
    }

    #contact p{
        font-size: 20px;
    }
 

    .thesis_iframe_container {
        display: block;
        height: 100vh;
        box-sizing: border-box;
        padding: 0px;
        /* max-width: 50vw; */
        /* margin: auto; */
        /* border: 2px red solid; */
    }
    
    .thesis_iframe {
        /* max-width: 100vw; */
        position: absolute;
        /* border: 2px red solid; */
        -webkit-overflow-scrolling: touch;
        /* overflow-y: scroll; */
        /* overflow-x: hidden; */
    }
/* 
    .thesis_warning_mobile {
        border: 2px red solid;
        color: rgb(57,122,191);
        font-size: 18px;
    } */
    
}