<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noah About</title>
    <link rel="stylesheet" href="../static/about.css">

    <link rel="icon" type="image/png" href="../assets/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="../assets/favicon/favicon.svg" />
    <link rel="shortcut icon" href="../assets/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="../assets/favicon/site.webmanifest" />
</head>
<body>
    <header class="header_container">
        <div class="logo">
            <a href="https://noahcread.com"><img src="../assets/nrlogo2.png" alt="home"></a>
        </div>
        <div class="nav-bar">
                <a href="https://noahcread.com" class="nav-link">Personal Projects</a>
                <a href="about.html" class="nav-link">About Me</a>
        </div>
        <div class="contact_container">
            <a href="mailto:noahcread@gmail.com" class="contact_element">noahcread@gmail.com</a>
            <div class="icons">
                <a href="https://www.linkedin.com/in/noahreadnr/" class="contact_element" target="_blank"><img src="../assets/linkedin.png" alt="LinkedIn"></a>
                <a href="https://github.com/ncread" class="contact_element" target="_blank"><img src="../assets/github.png" alt="GitHub"></a>
            </div>
        </div>
    </header>

    <div class="section_header">
        <h1>About Me</h1>
    </div>
    <br>
    <div class="about_container">
        <p class="about">Hello! My name is Noah. I have a Bachelors degree in Biomedical Engineering from Saint Louis University and a Masters degree in Applied Statistics & Data Science from UCLA. 
            I really enjoy programming and working with data, and I have aspirations to shift to a data scientist/data analyst position.
            <br><br>
            If you'd like to chat about my projects (questions, comments, feedback, advice, etc. are all welcome) feel free to 
            <a href="mailto:noahcread@gmail.com" target="_blank"> send me an email</a>. Links to my <a href="https://github.com/ncread" target="_blank">GitHub</a> 
            and <a href="https://www.linkedin.com/in/noahreadnr/" target="_blank">LinkedIn</a> profiles are also present.
            Thanks for visiting my site!</p>
    </div>






    <footer>
        Copyright &copy; 2025 Noah Read
    </footer>
</body>
</html>