<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noah Guides</title>
    <link rel="stylesheet" href="../static/styles.css">

    <link rel="icon" type="image/png" href="../assets/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="../assets/favicon/favicon.svg" />
    <link rel="shortcut icon" href="../assets/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="../assets/favicon/site.webmanifest" />
</head>
<body>
    <header class="header_container">
        <div class="logo">
            <a href="https://noahcread.com"><img src="../assets/nrlogo2.png" alt="home"></a>
        </div>
        <div class="nav-bar">
                <a href="https://noahcread.com" class="nav-link">Projects</a>
                 <a href="guides.html" class="nav-link">Guides</a>
                 <!-- <a href="misc.html" class="nav-link">Misc.</a> -->
                <a href="about.html" class="nav-link">About</a>
        </div>

        <div class="contact_container">
            <a href="mailto:noahcread@gmail.com" class="contact_element">noahcread@gmail.com</a>
            <div class="icons">
                <a href="https://www.linkedin.com/in/noahreadnr/" class="contact_element" target="_blank"><img src="../assets/linkedin.png" alt="LinkedIn"></a>
                <a href="https://github.com/ncread" class="contact_element" target="_blank"><img src="../assets/github.png" alt="GitHub"></a>
            </div>
        </div>
    </header>       

    <div class="section_header">
        <h1>Guides</h1>
    </div>

    <div class="purpose">
        <h3>
            Amidst the prevalence of large language models serving as omnipotent guides, I wanted to make an effort to steer away and write my own 
            collection of guides covering topics that I have researched and find interesting, or topics that I chase after again
            and again to remember certain syntax. Rather than duplicate my research efforts, these guides will serve as accessible
            references for me, and possibly others.
        </h3>
    </div>

    <br>

    <div class="project_grid">

        <div class="project_card">
            <div class="project_title">
                <h2><a href="/guides/daemons">Daemons in Linux</a></h2>
                <div class="skills">
                     <h4>Overview & management of linux daemons on your own machine</h4>
                </div>
            </div>

            <a class="thesis_img" href="/guides/daemons"><img src="/assets/daemons.jpg" alt="Linux Background Processes"></a>
        </div>

        <div class="project_card">
            <div class="project_title">
                <h2><a href="/guides/uv">Uv Package Manager</a></h2>
                <div class="skills">
                     <h4>How to use it, common and helpful commands, and much more</h4>
                </div>
            </div>

            <a class="thesis_img" href="/guides/uv"><img src="/assets/uv2.png" alt="Astral Logo"></a>
        </div>

    </div>

    <br><br><br>


    <br><br><br>
    <footer>
        <div class="copyright">
            Copyright &copy; 2026 Noah Read
        </div>
    </footer>

    <script>
        const currentPath = window.location.pathname;

        document.querySelectorAll('.nav-link').forEach(link => {
            const linkUrl = new URL(link.href);
            if (linkUrl.pathname === currentPath) {
            link.classList.add('active');
            }
        });
    </script>
</body>
</html>