<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noah Read Home</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body> 
    <header class="header_container">
        <div class="logo">
            <a href="https://noahcread.com"><img src="../assets/tennis_rackets.jpg" alt="home"></a>
        </div>
        <div class="container">
            <h1>Noah Read's Website</h1> 
            <h2>Home</h2>
            <div id="contact">
                <p><a href="mailto:noahcread@gmail.com">noahcread@gmail.com</a></p>
                <p><a href="https://www.linkedin.com/in/noahreadnr/" target="_blank">LinkedIn</a></p>
                <p><a href="https://github.com/ncread" target="_blank">Github</a></p>
            </div>    
        </div>
    </header>

    <div class="greeting">
        <h4>Hello! My name is Noah. You have found your way to my personal website which features data science projects 
            and additional content that I find interesting. I'm currently an engineer and aspiring
            data scientist. If you'd like to reach out, please connect via email or through LinkedIn.</h4>
        <h4>Cheers!</h4>    
    </div>

    <hr>

    <div class="Projects">
        <div id="Projects_header">
            <h1>Personal Projects</h1>
        </div>

        <div class="thesis_container">
            <h2><a href="thesis.html">UCLA Master's Thesis</h2></a>
            <a href="thesis.html"><img src="../assets/tennis_thesis.jpg" alt="UCLA Master's Thesis: Forecasting the Outcomes of Professional Tennis Matches"></a>
            <p id="thesis_description">My UCLA Masters Thesis <i>Forecasting the Outcomes of Professional Tennis Matches</i> was approved in March 2024.
                                        ATP and WTA data was scraped daily and the Adaptive Least Squares method was applied to the processed, time-variant 
                                        data to ultimately generate match winning probabilities. <br><br>
                                        
                                        Any two names along with a corresponding tournament name can be inputted into the program, which takes into account each player's
                                        time-variant historical statistics as well as unique information about the specific tournament (surface type, level, etc.) and outputs 
                                        probabilities of winning for each player.<br><br>
                                        
                                        For more information, the full-form document is accessible by clicking on the image to the left.</p>
                                        
        </div>

    </div>
    <h3>More projects to be added very soon...</h3>

    <hr>

    <div class="Extra_items">
        <div id="Extra_header">
            <h1>Additional Interests/Content</h1>
        </div>
        <div class="col1">
            <div class="website_list">
                <h1>Quick Access</h1>
                    <ul>
                        <li><a href="https://www.espn.com/" target="_blank">ESPN</a></li>
                        <li><a href="https://www.atptour.com/en/tournaments" target="_blank">ATP Tournaments</a></li>
                        <li><a href="https://www.atptour.com/en/rankings/singles/live" target="_blank">ATP Rankings</a></li>
                        <li><a href="https://www.theringer.com/" target="_blank">The Ringer</a></li>
                    </ul>
            </div>

            <!-- <div class="data_area">
                <p>another div</p>
            </div> -->
        </div>
    </div>
</body>
</html>