<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noah Thesis</title>
    <link rel="stylesheet" href="../static/thesis.css">
</head>
<body>
    <header class="header_container">
        <div class="logo">
            <a href="https://noahcread.com"><img src="../assets/nrlogo2.png" alt="home"></a>
        </div>

        <div class="contact_container">
            <a href="mailto:noahcread@gmail.com" class="contact_element">noahcread@gmail.com</a>
            <div class="icons">
                <a href="https://www.linkedin.com/in/noahreadnr/" class="contact_element" target="_blank"><img src="../assets/linkedin.png" alt="LinkedIn"></a>
                <a href="https://github.com/ncread" class="contact_element" target="_blank"><img src="../assets/github.png" alt="GitHub"></a>
            </div>
        </div>
        <div class="page_title">
            <h1>Tennis Match Forecasting</h1>
            <h2>UCLA Master's Thesis</h2>
        </div>
    </header>
    

    <div class="thesis_iframe_container">
        <iframe class="thesis_iframe" src="../Read_Thesis_01.pdf#toolbar=0&scrollbar=1&navpanes=0&view=FitH" title="Noah Read Master's Thesis Project"></iframe>
    </div>

    <div class="thesis_mobile">
        <a href="../Read_Thesis_01.pdf#toolbar=0&scrollbar=1&navpanes=0&view=FitH" target="_blank">Open Thesis PDF</a>
    </div>

</body>
</html>